@font-face {
    font-family: "Agbalumo";
    src: url("ressources/font/Agbalumo-Regular.ttf");
    src: url("ressources/font/Agbalumo-Regular.ttf") format("ttf"),
}

@font-face {
    font-family: "Poppins";
    src: url("ressources/font/Poppins-Medium.ttf");
    src: url("ressources/font/Poppins-Medium.ttf") format("ttf"),
}

@font-face {
    font-family: "PoppinsLight";
    src: url("ressources/font/Poppins-Light.ttf");
    src: url("ressources/font/Poppins-Light.ttf") format("ttf"),
}

@font-face {
    font-family: "PoppinsBold";
    src: url("ressources/font/Poppins-SemiBold.ttf");
    src: url("ressources/font/Poppins-SemiBold.ttf") format("ttf"),
}


a {
    text-decoration: none;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #000000;
    padding: 0;
}

body{
    overflow: hidden;
}

.cursor {
    width: 80px;
    background-color: rgba(238, 240, 219, 0.4);
    border-radius: 50%;
    height: 80px;
    box-shadow: 1px 1px 50px rgba(244, 244, 244, 0.155);
    position: absolute;

}

.cookieConsentModal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: flex-end;
}

.cookieConsentModal.active{
    display: flex;
}

.cookieContent{
    background-color: #1e1e1e;
    padding: 20px 40px;
    border-radius: 10px 10px 0 0;
}

.cookieContent h1{
    color:#DCB253;
    font-family: 'Agbalumo';
    font-size: 30px;
    margin-bottom: 1vh;
}

.cookieContent p{
    color:#ffffff;
    font-size: 14px;
}

.cookieBtns{
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
    gap: 2vw;
}

.cookieBtn{
    border: none;
    outline: none;
    padding: .8em 1.5em;
    width:130px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}

.cookieBtn:hover{
    cursor: pointer;
}

.cookieBtn.refuser{
    background-color: rgb(246, 104, 104);
}

.cookieBtn.accepter{
    background-color: greenyellow;
}


.reveal {
    opacity: 0;
    transform: translateY(200px);
    z-index: 1;
    transition-delay: 0.1s;
}

.revealVisible {
    opacity: 1;
    transform: translateY(0);
    transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

.accueil {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%), url("ressources/images/Dans_le_Noir__groupe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.accueilContenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.accueilContenuImage {
    margin-top: 100px;
}

.accueilContenuImage img {
    filter: drop-shadow(1px 1px 2px #ffffff);
}

.accueilContenuTexte {
    color: #ffffff;
    font-family: 'PoppinsLight';
    font-size: 24px;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
}

.accueilContenuBoutons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 325px;
    margin-top: 20px;
}

.bouton {
    color: #ffffff;
    border-radius: 2px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'PoppinsBold';
    border: 3px solid #ffffff;
    padding: 0.5em 0.4em;
    width: 150px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.bouton:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 0px #000000, 4px 4px 0px #ffffff;
    background-color: #ffffff;
    color:black;
}

.footerAccueil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80%;
    align-items: center;
    bottom: 5px;
    position: absolute;
    width: 100%;
}

.boutonMentionsLegales {
    text-decoration: none;
    color: #212121;
    font-size: 10px;
    font-family: 'PoppinsLight';
}

/* Sidenav menu */
.sideNav {
    height: 100%;
    width: 275px;
    position: fixed;
    top: 0;
    left: -275px;
    background-color: #000000c8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.burgerA {
    padding-left: 10%;
    font-size: 25px;
    color: #ffffff;
    display: inline-block;
    transition: 0.3s;
    font-family: 'PoppinsLight';
    margin-top: 40px;
    transition: 0.3s ease;
}

.burgerA:hover{
    color: #DCB253;
    transition:left .3s ease;
}

.sideNav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#closeBtn{
    color:#ffffff;
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 0px;
}

/* Active class */
.sideNav.active {
    left: 0;
}



/* Icône burger */
.burgerIcon{
    display: block;
    position: absolute;
    left: 30px;
    top:30px;
    z-index: 2;
}


.droits{
    color:#ffffff;
    font-size: 14px;
}

.bigTitle{
    font-family: 'Agbalumo';
    font-size: 44px;
    color:#ffffff;
    text-align: center;
    padding-top: 30px;
}

.midTitle{
    font-family: 'Agbalumo';
    font-size: 38px;
    color:#DCB253;
    text-align: center;
    padding-top: 20px;
}

.title{
    color:#ffffff;
    font-size: 32px;
    text-align: center;
    padding-top: 15px;
}

.logoBack{
    margin: auto;
}

.DivLogoImg{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.LogoImg{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width: 80%;
}

.separateurVertical{
    height:50vh;
    width:4px;
    border-radius: 5px;
    background-color: #ffffff;
    color:#ffffff
}

/*Reserver*/

.reserver {
    background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(44, 43, 43, 0.7) 100%), url("ressources/images/fondReserver.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}

.reserverContenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reserverFormBox{
    display: block;
    width: 80%;
    height: 75vh;
    background: rgba(0, 0, 0, 0.72);
    border-radius: 20px;
    margin: 0px auto;
}


.reserverForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formSide{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:30%;
}

.submit{
    width:150px;
    transition:0.2s ease;

}

.submit:hover{
    background-color: #ffffff;
    color:#000000;
    transition:0.2s ease;

}

label{
    color:white;
    font-size: 20px;
    font-family: 'PoppinsLight';
    text-align: start;
    margin: 5px;
}

input{
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: #00000000;
    color:#ffffff;
    font-family: 'PoppinsLight';
    padding: 0.5rem 0.7rem;
    margin: 5px;
    width:275px;
}

@media screen and (max-width: 767px){

    body{
        overflow:auto
    }

    .cursor {
        width: 80px;
        background-color: rgba(238, 240, 219, 0.4);
        border-radius: 50%;
        height: 80px;
        box-shadow: 1px 1px 50px rgba(244, 244, 244, 0.155);
        position: absolute;
        display: none;
    }

    .cookieConsentModal{
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        align-items: flex-start;
    }
    
    .cookieConsentModal.active{
        display: flex;
    }
    
    .cookieContent{
        background-color: #1e1e1e;
        padding: 20px 40px;
        border-radius: 10px 10px 0 0;

    }
    
    .cookieContent h1{
        color:#DCB253;
        font-family: 'Agbalumo';
        font-size: 20px;
        margin-bottom: 1vh;
    }
    
    .cookieContent p{
        color:#ffffff;
        font-size: 14px;
    }
    
    .cookieBtns{
        display: flex;
        justify-content: flex-end;
        margin-top: 1vh;
        gap: 2vw;
    }
    
    .cookieBtn{
        border: none;
        outline: none;
        padding: .8em 1.5em;
        width:30%;
        border-radius: 3px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .cookieBtn.refuser{
        background-color: rgb(246, 104, 104);
    }
    
    .cookieBtn.accepter{
        background-color: greenyellow;
    }
    
    
    .reveal {
        opacity: 0;
        transform: translateY(200px);
        z-index: 1;
        transition-delay: 0.1s;
    }
    
    .revealVisible {
        opacity: 1;
        transform: translateY(0);
        transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: 1;
    }
    
    .accueil {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%), url("ressources/images/Dans_le_Noir__groupe.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
    
    .accueilContenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
    
    .accueilContenuImage {
        margin-top: 50px;
    }
    
    .accueilContenuImage img {
        filter: drop-shadow(1px 1px 2px #ffffff);
    }
    
    .accueilContenuTexte {
        color: #ffffff;
        font-family: 'PoppinsLight';
        font-size: 20px;
        justify-content: center;
        text-align: center;
        margin: 12px 0px;
    }
    
    .accueilContenuBoutons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        margin-top: 20px;
        gap:5%;
        margin-bottom: 40px;
    }
    
    .bouton {
        color: #ffffff;
        border-radius: 2px;
        text-decoration: none;
        font-size: 16px;
        font-family: 'PoppinsBold';
        border: 3px solid #ffffff;
        padding: 0.5em 0.4em;
        text-align: center;
        width: 200px;
        transition: 0.2s ease-in-out;
    }
    
    .bouton:hover {
        transition: 0.2s ease-in-out;
        box-shadow: 2px 2px 0px #000000, 4px 4px 0px #ffffff;
        background-color: #ffffff;
        color:black;
    }
    
    .footerAccueil {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 30%;
        align-items: center;
    }
    
    .boutonMentionsLegales {
        text-decoration: none;
        color: #212121;
        font-size: 10px;
        font-family: 'PoppinsLight';
    }
    
    /* Sidenav menu */
    .sideNav {
        height: 100%;
        width: 40%;
        position: fixed;
        top: 0;
        left: -40%;
        background-color: #000000dc;
        padding-top: 60px;
        transition: left 0.5s ease;
        z-index: 2;
    }
    
    /* Sidenav menu links */
    .burgerA {
        padding-left: 10%;
        font-size: 25px;
        color: #ffffff;
        display: inline-block;
        transition: 0.3s;
        font-family: 'PoppinsLight';
        margin-top: 40px;
        transition: 0.3s ease;
    }
    
    .burgerA:hover{
        color: #DCB253;
        transition:left .3s ease;
    }
    
    .sideNav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    #closeBtn{
        color:#ffffff;
        font-size: 60px;
        position: absolute;
        top: 0;
        right: 20px;
        padding: 0px;
    }
    
    /* Active class */
    .sideNav.active {
        left: 0;
    }
    
    
    
    /* Icône burger */
    .burgerIcon{
        display: block;
        position: absolute;
        left: 30px;
        top:30px;
        z-index: 2;
    }
    
    
    .droits{
        color:#ffffff;
        font-size: 14px;
    }
    
    .bigTitle{
        font-family: 'Agbalumo';
        font-size: 40px;
        color:#ffffff;
        text-align: center;
        padding-top: 30px;
    }
    
    .midTitle{
        font-family: 'Agbalumo';
        font-size: 36px;
        color:#DCB253;
        text-align: center;
        padding-top: 20px;
    }
    
    .title{
        color:#ffffff;
        font-size: 26px;
        text-align: center;
        padding-top: 15px;
    }
    
    .logoBack{
        margin: auto;
    }
    
    .DivLogoImg{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .LogoImg{
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        width: 50%;
    }
    
    .separateurVertical{
        height:50vh;
        width:4px;
        border-radius: 5px;
        background-color: #ffffff;
        color:#ffffff;
        display: none;
    }
    
    /*Reserver*/
    
    .reserver {
        background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(44, 43, 43, 0.7) 100%), url("ressources/images/fondReserver.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
    }
    
    .reserverContenu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .reserverFormBox{
        display: block;
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.0);
        border-radius: 20px;
        margin: 0px auto;
    }
    
    
    .reserverForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .formSide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30%;
    }
    
    .submit{
        width:150px;
        transition:0.2s ease;
    }
    
    .submit:hover{
        background-color: #ffffff;
        color:#000000;
        transition:0.2s ease;
    }
    
    label{
        color:white;
        font-size: 20px;
        font-family: 'PoppinsLight';
        text-align: start;
        margin: 5px;
    }
    
    input{
        border: 3px solid #ffffff;
        border-radius: 10px;
        background-color: #00000000;
        color:#ffffff;
        font-family: 'PoppinsLight';
        padding: 0.5rem 0.7rem;
        margin: 5px;
    }
    
}
